p{
  height: 100px;
  background-color: #42f5f5;
}
.satu{
  border-style: dotted;
  border-color: red;
  overflow: scroll;
  width: 300px;
  border-width: 12px;
  padding: 10px;
}
.dua{
  border-style: solid;
  border-width: 6px;
  border-color: #239952;
  overflow: scroll;
  width: 300px;
  padding: 10px;
}
.tiga{
  overflow: scroll;
  border-style: dashed;
  border-color: blue;
  width: 300px;
  border-width: 20px;
  padding: 10px;
}
